
<style type="text/css">
    .modal-content{
        margin-top: 100px;
        width: 700px;
        margin-left: -60px;
    }
    .doc-text{
        margin-left: 20px;
    }
</style>

<div style="margin: 10px;">
    <div class="modal-header" style="padding: 5px;">
        <h4>关于</h4>
    </div>
    <div class="modal-body">
        <div style="margin-left: 80px">
            <dl class="dl-horizontal" ng-repeat="ver in versions">
                <dt>{{ver.title}}</dt>
                <dd style="color: blue">{{ ver.value }}</dd>
            </dl>
        </div>
    </div>
</div>