
<style type="text/css">
    .modal-content{
        margin-top: 100px;
        width: 800px;
        margin-left: -100px;
    }
</style>

<div style="margin: 10px;">
    <div class="modal-header" style="padding: 5px;">
        <h4>请求配置</h4>
    </div>
    <div class="modal-body">
        <div class="input-group">
            <span class="input-group-addon">服务器地址</span>
            <input type="url" class="form-control" ng-model="config.host" placeholder="IP Address">
        </div>

        <div class="input-group" style="margin-top: 10px;">
            <span class="input-group-addon">下载内容保存位置</span>
            <input type="text" class="form-control" style="width: 540px;" disabled ng-value="config.downdir || config.defaultPath">
            <div style="float: right;">
                <button class="btn btn-warning fileinput-save">
                    <i class="glyphicon glyphicon-folder-open"></i>
                    <input type="file" ng-model="config.downdir" nwdirectory>
                </button>
            </div>
        </div>

        <form class="form-inline" name="addheader" style="margin-top: 10px">
            <div class="form-group">
                <input type="text" class="form-control" style="width: 305px"  placeholder="Header Name" ng-model="config.key" required>
            </div>
            <div class="form-group">
                =
            </div>
            <div class="form-group">
                <input type="text" class="form-control" style="width: 350px"  placeholder="Header Value" ng-model="config.value" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" style="margin-left: 15px" ng-click="set()" ng-disabled="addheader.$invalid">Set</button>
            </div>
        </form>

        <div style="width: 738px;margin-top: 10px">
            <table class="table table-bordered">
                <tr>
                    <th style="width: 240px;">Header Name</th>
                    <th>Header Value</th>
                </tr>
                <tr ng-repeat="h in headers">
                    <td>{{ h.key }}</td>
                    <td>
                        {{ h.value }}
                        <span style="float:right;width: 30px">
                            <button type="button" class="close" style="float: left" data-dismiss="alert" aria-hidden="true" ng-click="reset($index)">&equiv;</button>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="remove($index)">&times;</button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!config.host || (!config.downdir && !config.defaultPath)" ng-click="save()">保存</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</div>
