
<style type="text/css">
    .modal-content{
        margin-top: 100px;
        width: 800px;
        margin-left: -100px;
    }
    .modal-body{
        height: 250px;
        overflow-y: auto;
    }
</style>

<div style="margin: 10px;">
    <div class="modal-header" style="padding: 5px;">
        <h4>下载内容</h4>
    </div>
    <div class="modal-body">
        <accordion close-others="true">
            <accordion-group ng-repeat="item in items" is-open="isopen">
                <accordion-heading>
                    <strong>{{item.filename}}</strong>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                </accordion-heading>
                <p style="color: #428bca">{{item.link}}</p>
                <p style="font-size: 12px;">
                    <a ng-click="showItemInFolder(item.path)">在文件夹中显示</a>
                    <a style="margin-left: 8px" ng-click="remove($index)">从列表中删除</a>
                </p>
            </accordion-group>
        </accordion>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="items.length <= 0" ng-click="clear()">全部清除</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</div>

