
<ol class="breadcrumb">
    <li><a href="#">jTester</a></li>
    <li><a href="#">File</a></li>
    <li class="active">HTTP</li>
</ol>

<div style="margin: 8px ;margin-top: 20px;">
    <tabset>
        <tab ng-repeat="tab in tabs" heading="{{tab.controller}}" active="tab.active" >
            <div class="tab-pane fade in" style="margin-top: 10px;" >
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{tab.controller}} <span class="badge pull-right">{{ tab.actions.length }}</span></h4>
                    </div>
                    <div class="panel-body">
                        <accordion close-others="true">
                            <accordion-group ng-repeat="action in tab.actions" is-open="isopen">
                                <accordion-heading>
                                    <strong>{{action.name}}</strong>
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                                </accordion-heading>
                                <textarea style="background-color:#ddd;" class="form-control" rows="{{ action.rowcount }}"  ng-model="action.script"></textarea>
                                <button class="btn btn-primary" style="margin-top: 15px;" ng-click="action.execute()" ng-disabled="action.submit" >{{ !action.submit ? 'Submit' : 'Loading' }}</button>
                                <div class="well" style="margin-top: 15px" ng-bind-html="action.result"></div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>
