<style>
    .fileinput-save{
        margin-left: 10px;
    }
    .fileinput-save input {
        position: absolute;
        margin-left: -12px;
        top: 0;
        opacity: 0;
        font-size: 24px;
        width: 40px;
        direction: ltr;
        cursor: pointer;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">HTTP请求配置</h4>
    </div>
    <div class="modal-body">
        <div class="input-group">
            <span class="input-group-addon">服务器地址</span>
            <input type="url" class="form-control" ng-model="config.address"  style="width: 300px;" placeholder="IP Address">
        </div>
        <div class="input-group" style="margin-top: 10px;">
            <span class="input-group-addon">测试JS路径</span>
            <input type="text" class="form-control" style="width: 500px;" disabled ng-value="config.testfile" >
            <div style="margin-left: 15px;">
                <button class="btn btn-warning fileinput-save">
                    <i class="glyphicon glyphicon-folder-open"></i>
                    <input type="file" accept=".js,.coffee" nwworkingdir="{{defaultdir}}" ng-file-select="change($files[0].path)" >
                </button>
            </div>
        </div>
        <div class="input-group" style="margin-top: 10px;">
            <span class="input-group-addon">下载内容保存位置</span>
            <input type="text" class="form-control" style="width: 460px;" disabled ng-value="config.savefilepath">
            <div style="margin-left: 15px;">
                <button class="btn btn-warning fileinput-save">
                    <i class="glyphicon glyphicon-folder-open"></i>
                    <input type="file" nwdirectory ng-file-select="changedir($files[0].path)">
                </button>
            </div>
        </div>

    </div>
</div>

<div ng-include src="'./core/views/itemconfig.html'" style="margin-bottom: 60px"></div>