<style>
    .btn{
        margin-left: 10px;
    }
    .well{
        margin-top: 5px;
        height: 200px;
    }
</style>

<ol class="breadcrumb" style="margin-left: 8px ;margin-right: 8px ;">
    <li><a href="#">jTester</a></li>
    <li><a href="#">File</a></li>
    <li class="active">SOCKET</li>
</ol>
<div style="margin: 5px ;margin-top: 20px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">设置</h4>
        </div>
        <div class="panel-body">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">服务器地址</div>
                        <input class="form-control" type="text" placeholder="HOST">
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" style="width: 100px" placeholder="PORT">
                </div>
                <button type="button" class="btn btn-primary">连接</button>
                <button type="button" class="btn btn-warning">断开</button>
            </form>

            <form class="form-inline" role="form" style="margin-top:20px">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">发送消息</div>
                        <input class="form-control" type="text" style="width: 700px" placeholder="Message">
                    </div>
                </div>
                <button type="button" class="btn btn-primary">发送</button>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">输出</h4>
        </div>
        <div class="panel-body">
            <div style="height: 210px;overflow-y: auto">
                <div class="well"></div>
            </div>
        </div>
    </div>
</div>



