
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">SOCKETCOMPONENT</h4>
    </div>
    <div class="panel-body">

        <form class="form-inline" role="form" name="sethost" >
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">服务器地址</div>
                    <input class="form-control" ng-model="component.host" type="text" placeholder="HOST" required>
                </div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="component.port" style="width: 100px" placeholder="PORT" required>
            </div>
            <button type="button" class="btn btn-primary" ng-click="component.connect()" ng-disabled="component.connected">连接</button>
            <button type="button" class="btn btn-warning" ng-click="component.disconnect()" ng-disabled="!component.connected">断开</button>
        </form>

        <form class="form-inline" role="form" style="margin-top:20px">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">发送消息</div>
                    <input class="form-control" type="text" style="width: 600px" ng-model="component.message" placeholder="Message">
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="component.send()" ng-disabled="!component.connected">发送</button>
            <button type="button" class="btn btn-primary" ng-click="component.deliver()" ng-disabled="!component.connected">传送</button>
            <button type="button" class="btn btn-primary" ng-click="component.clear()" ng-disabled="component.msgs.length <= 0">清除输出</button>
        </form>

        <accordion>
            <accordion-group is-open="true" style="margin-top: 20px">
                <accordion-heading>
                    控制台输出<i class="pull-right glyphicon glyphicon-chevron-down" ></i>
                </accordion-heading>
                <ul class="list-group">
                    <!--fix ng-repeat Error “Duplicates in a repeater are not allowed.”-->
                    <li class="list-group-item" ng-repeat="msg in component.msgs track by $index">{{msg}}</li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
</div>