
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">XMPPCLIENT</h4>
    </div>
    <div class="panel-body">

        <form class="form-inline" role="form" name="sethost" >
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">服务器地址</div>
                    <input class="form-control" ng-model="client.host" ng-disabled="client.connected" type="text" placeholder="HOST" required>
                </div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" ng-model="client.port" ng-disabled="client.connected" style="width: 100px" placeholder="PORT" required>
            </div>
        </form>

        <form class="form-inline" role="form" style="margin-top: 20px;" >
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">用户名</div>
                    <input class="form-control" ng-model="client.jid" ng-disabled="client.connected" type="text" placeholder="UserName" required>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="client.password" ng-disabled="client.connected" style="width: 100px" placeholder="Password" required>
            </div>
            <button type="button" class="btn btn-primary" ng-click="client.connect()" ng-disabled="client.connected">连接</button>
            <button type="button" class="btn btn-warning" ng-click="client.disconnect()" ng-disabled="!client.connected">断开</button>
        </form>

        <form class="form-inline" role="form" style="margin-top:20px">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">发送消息</div>
                    <input class="form-control" type="text" style="width: 200px" ng-model="client.to" placeholder="Receiver">
                </div>
                <div class="input-group">
                    <input class="form-control" type="text" style="width: 500px" ng-model="client.message" placeholder="Message">
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="client.send()" ng-disabled="!client.connected">发送</button>
            <button type="button" class="btn btn-primary" ng-click="client.clear()" ng-disabled="client.msgs.length <= 0">清除输出</button>
        </form>

        <accordion>
            <accordion-group is-open="true" style="margin-top: 20px">
                <accordion-heading>
                    控制台输出<i class="pull-right glyphicon glyphicon-chevron-down" ></i>
                </accordion-heading>
                <ul class="list-group">
                    <!--fix ng-repeat Error “Duplicates in a repeater are not allowed.”-->
                    <li class="list-group-item" ng-repeat="msg in client.msgs track by $index">{{msg}}</li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
</div>