<style>
    .btn{
        margin-left: 10px;
    }
    .list-group-item{
        word-break: break-all
    }
    .panel{
        margin-top: 10px;
        margin-bottom: 60px;
    }
</style>

<ol class="breadcrumb" style="margin-left: 8px ;margin-right: 8px ;">
    <li><a href="#">jTester</a></li>
    <li class="active">XMPP</li>
</ol>
<div style="margin: 5px ;margin-top: 20px;">

    <tabset>
        <tab heading="XMPPCLIENT">
            <div ng-include src="'./core/views/xmppclient.html'"></div>
        </tab>
    </tabset>

</div>



